In [1]:
import pandas as pd
import seaborn as sns
from gensim.models import Word2Vec
from gensim.models import KeyedVectors
#import pandas_profiling
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
import sklearn.feature_extraction.text as text
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import warnings
!pip install contractions
import contractions
from collections import Counter
!pip install wordcloud
from wordcloud import WordCloud
from sklearn. preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report
import nltk
nltk.download('stopwords')
import numpy as np
warnings.filterwarnings('ignore')
import gensim
nltk.download('punkt')

Requirement already satisfied: contractions in c:\users\gruhi\anaconda3\lib\site-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\gruhi\anaconda3\lib\site-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in c:\users\gruhi\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: pyahocorasick in c:\users\gruhi\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (2.0.0)
Requirement already satisfied: wordcloud in c:\users\gruhi\anaconda3\lib\site-packages (1.8.2.2)
Requirement already satisfied: pillow in c:\users\gruhi\anaconda3\lib\site-packages (from wordcloud) (9.2.0)
Requirement already satisfied: matplotlib in c:\users\gruhi\anaconda3\lib\site-packages (from wordcloud) (3.5.2)
Requirement already satisfied: numpy>=1.6.1 in c:\users\gruhi\anaconda3\lib\site-packages (from wordcloud) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\gruhi\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\gruhi\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gruhi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gruhi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
data = pd.read_json('data.json',lines = True)

In [3]:
data['category'].unique()

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE'], dtype=object)

In [4]:
new_mappings = {tuple(['U.S. NEWS', 'WORLD NEWS',  'GOOD NEWS' , 'THE WORLDPOST','WORLDPOST']): 'NEWS',
                  tuple(['CULTURE & ARTS', 'TRAVEL','ARTS & CULTURE','ARTS']): 'TRAVEL AND ARTS',
                                                  tuple(['WELLNESS','STYLE & BEAUTY','HOME & LIVING','HEALTHY LIVING','STYLE']): 'LIFESTYLE',
                                                 tuple(['TASTE','FOOD & DRINK']): 'FOOD',
                                                  tuple(['QUEER VOICES', 'BLACK VOICES','LATINO VOICES','WOMEN']): 'DIVERSITY',
                                                  tuple(['COMEDY','SPORTS','ENTERTAINMENT','WEIRD NEWS']): 'ENTERTAINMENT',
                                                  tuple(['BUSINESS','MONEY']): 'BUSINESS',
                                                  tuple(['COLLEGE','PARENTING','EDUCATION','PARENTS']): 'PARENTING AND EDUCATION',
                                                  tuple(['CRIME','FIFTY','IMPACT','WEDDINGS','DIVORCE','RELIGION']): 'MISCELLANEOUS',
                                                tuple(['POLITICS','MEDIA']): 'POLITICS',
                                                 tuple(['ENVIRONMENT','GREEN']): 'ENVIRONMENT',
                                                 tuple(['TECH','SCIENCE']): 'TECHNOLOGY'
                }

In [5]:
new_mapping_dict = {}
for key, value in new_mappings.items():
    for one_key in key:
        new_mapping_dict[one_key] = value

In [6]:
data['new_category'] = data['category'].replace(new_mapping_dict)
data.loc[:,['category','new_category']]

         category             new_category
0       U.S. NEWS                     NEWS
1       U.S. NEWS                     NEWS
2          COMEDY            ENTERTAINMENT
3       PARENTING  PARENTING AND EDUCATION
4       U.S. NEWS                     NEWS
...           ...                      ...
209522       TECH               TECHNOLOGY
209523     SPORTS            ENTERTAINMENT
209524     SPORTS            ENTERTAINMENT
209525     SPORTS            ENTERTAINMENT
209526     SPORTS            ENTERTAINMENT

[209527 rows x 2 columns]

In [7]:
data.new_category.unique()

array(['NEWS', 'ENTERTAINMENT', 'PARENTING AND EDUCATION',
       'TRAVEL AND ARTS', 'TECHNOLOGY', 'POLITICS', 'ENVIRONMENT',
       'MISCELLANEOUS', 'LIFESTYLE', 'BUSINESS', 'FOOD', 'DIVERSITY'],
      dtype=object)

In [8]:
data.drop_duplicates(inplace = True)

In [9]:
data.drop_duplicates(subset=['headline', 'short_description'], inplace = True)

In [10]:
data.shape

(209038, 7)

In [11]:
data.isnull().values.any()

False

In [12]:
df = data

In [13]:
df['all_words'] = df['headline']+" "+df['short_description']

In [14]:
df['all_words'][0]

'Over 4 Million Americans Roll Up Sleeves For Omicron-Targeted COVID Boosters Health experts said it is too early to predict whether demand would match up with the 171 million doses of the new boosters the U.S. ordered for the fall.'

# data Cleaning / preprocessing

In [15]:
def expand_contractions(combined_words):
    expanded_words = []   
    for word in combined_words.split():
        expanded_words.append(contractions.fix(word))  
    expanded_text = ' '.join(expanded_words)
    return expanded_text

In [16]:
stop_words = set(stopwords.words('english'))

In [17]:
def remove_stop_words(x):
    lst = [i for i in x.split() if not i in stop_words]
    data = ' '.join(lst)
    return data

In [18]:
def clean_data(data):
    data = str(data)
    data = data.lower()
    data = expand_contractions(data)
    data = re.sub('@[A-Za-z0-9_]+',' ', data)
    data = re.sub('#[A-Za-z0-9_]+',' ', data)
    data = re.sub('(http\S+)', ' ', data)
    data = re.sub('www.\S+', ' ', data)
    data = re.sub('[()!?]', ' ', data)
    data = re.sub('\[.*?\]',' ', data)
    data = re.sub('[^a-z0-9]',' ', data)
    data = re.sub(' +',' ', data)
    data = remove_stop_words(data)
    return data

In [19]:
clean_df = df.loc[:,['all_words','new_category']]

In [20]:
clean_df['clean_all_words'] = clean_df['all_words'].apply(clean_data)

In [21]:
clean_df

,all_words,new_category,clean_all_words
0,Over 4 Million Americans Roll Up Sleeves For O...,NEWS,4 million americans roll sleeves omicron targe...
1,"American Airlines Flyer Charged, Banned For Li...",NEWS,american airlines flyer charged banned life pu...
2,23 Of The Funniest Tweets About Cats And Dogs ...,ENTERTAINMENT,23 funniest tweets cats dogs week sept 17 23 d...
3,The Funniest Tweets From Parents This Week (Se...,PARENTING AND EDUCATION,funniest tweets parents week sept 17 23 accide...
4,Woman Who Called Cops On Black Bird-Watcher Lo...,NEWS,woman called cops black bird watcher loses law...
...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECHNOLOGY,rim ceo thorsten heins significant plans black...
209523,Maria Sharapova Stunned By Victoria Azarenka I...,ENTERTAINMENT,maria sharapova stunned victoria azarenka aust...
209524,"Giants Over Patriots, Jets Over Colts Among M...",ENTERTAINMENT,giants patriots jets colts among improbable su...
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,ENTERTAINMENT,aldon smith arrested 49ers linebacker busted d...
209526,Dwight Howard Rips Teammates After Magic Loss ...,ENTERTAINMENT,dwight howard rips teammates magic loss hornet...

# Word2Vec

In [22]:
w2v_model=KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)

In [23]:
print(w2v_model.most_similar('delicious'))

[('scrumptious', 0.8770448565483093), ('tasty', 0.8730388879776001), ('delectable', 0.8363204598426819), ('yummy', 0.8119936585426331), ('flavorful', 0.7428319454193115), ('sinfully_delicious', 0.7334188222885132), ('scrumptious_desserts', 0.7285338640213013), ('delish', 0.7256091833114624), ('savory', 0.7186153531074524), ('decadent_dessert', 0.7114437818527222)]

In [24]:
print(w2v_model.similarity('Scientist','Researcher'))
print(w2v_model.similarity('Lake','River'))
print(w2v_model.similarity('Lake','Iphone'))

0.65890074
0.63959724
-0.052412063

In [25]:
all_sentences = clean_df['clean_all_words'].tolist()

In [26]:
len(w2v_model.get_vector('tiger'))

300

In [27]:
w2v_model.get_vector('tiger')

array([-6.83593750e-02,  1.82617188e-01, -1.77734375e-01,  1.66015625e-01,
        1.46484375e-01,  2.53906250e-02,  5.00488281e-02, -3.51562500e-02,
        2.53906250e-01,  2.22778320e-03, -3.26156616e-04, -2.05078125e-01,
       -2.98828125e-01, -3.71093750e-01, -4.45312500e-01, -2.08007812e-01,
       -1.89453125e-01, -5.72204590e-04, -2.45117188e-01, -2.08984375e-01,
        2.51953125e-01, -3.73046875e-01,  1.91406250e-01, -2.07519531e-02,
       -2.96875000e-01,  1.24023438e-01, -4.60937500e-01,  1.42578125e-01,
        7.14843750e-01,  1.18652344e-01, -1.47460938e-01, -1.15234375e-01,
       -9.03320312e-02, -8.49609375e-02, -3.14453125e-01,  1.54296875e-01,
       -1.97265625e-01,  2.89062500e-01,  3.26171875e-01,  2.79296875e-01,
       -2.13623047e-02, -7.76367188e-02,  1.29882812e-01,  1.79687500e-01,
        2.85156250e-01, -2.45117188e-01, -7.22656250e-02, -1.08398438e-01,
        3.96484375e-01,  2.75390625e-01, -2.94921875e-01,  2.87109375e-01,
       -9.33837891e-03, -2.14843750e-01,  1.03515625e-01, -1.32812500e-01,
        1.90429688e-01, -2.53906250e-01,  3.82812500e-01,  3.58886719e-02,
        1.00585938e-01,  1.04492188e-01,  1.65039062e-01, -2.19726562e-01,
        1.37695312e-01, -1.88476562e-01,  7.03125000e-02, -8.98437500e-02,
       -2.16796875e-01, -7.53784180e-03, -8.69140625e-02,  5.95703125e-02,
        7.03125000e-02, -5.88378906e-02, -4.66308594e-02, -3.63769531e-02,
        1.15234375e-01, -3.39843750e-01, -8.72802734e-03, -1.93023682e-03,
       -1.87988281e-02, -1.90429688e-01,  1.64062500e-01,  2.53906250e-01,
       -3.49609375e-01, -1.04003906e-01, -7.32421875e-02, -2.09960938e-01,
       -7.86132812e-02, -1.17675781e-01, -4.15039062e-02,  4.33593750e-01,
       -6.54296875e-02,  5.88378906e-02, -2.98828125e-01, -4.25781250e-01,
        1.84570312e-01,  1.20605469e-01,  1.80664062e-01, -2.53906250e-01,
       -7.66601562e-02, -1.54296875e-01, -2.57568359e-02, -1.66015625e-01,
        2.27539062e-01, -2.94921875e-01, -9.66796875e-02, -1.21582031e-01,
        1.14746094e-01, -1.35742188e-01, -5.19531250e-01,  8.39843750e-02,
        2.95410156e-02,  2.89062500e-01, -1.96289062e-01, -8.64257812e-02,
       -1.44531250e-01, -4.86328125e-01, -2.75390625e-01, -2.92968750e-02,
       -1.94091797e-02,  1.94335938e-01, -3.65234375e-01, -1.27563477e-02,
       -1.43554688e-01,  6.25000000e-02,  3.82812500e-01, -8.44726562e-02,
        1.50390625e-01, -3.71093750e-01, -1.42578125e-01,  1.21582031e-01,
       -3.24218750e-01,  1.49414062e-01, -2.26562500e-01,  1.87500000e-01,
        9.17968750e-02,  2.38037109e-02,  9.08203125e-02,  5.93261719e-02,
        1.87500000e-01, -3.08593750e-01, -7.42187500e-02,  6.64062500e-02,
        4.80957031e-02,  3.04687500e-01, -1.74804688e-01,  2.83203125e-01,
        1.50756836e-02, -1.04492188e-01,  4.64843750e-01,  1.53320312e-01,
       -2.75390625e-01,  2.04101562e-01,  1.91406250e-01, -2.50000000e-01,
        1.20849609e-02, -3.54003906e-02,  1.46484375e-01, -1.80664062e-01,
        1.25000000e-01, -2.06054688e-01,  2.11914062e-01, -5.93261719e-02,
        8.66699219e-03, -8.15429688e-02,  2.69531250e-01, -2.51953125e-01,
       -2.72216797e-02,  1.25000000e-01, -9.27734375e-02, -7.17773438e-02,
        4.44335938e-02,  1.29882812e-01,  7.03125000e-02, -8.34960938e-02,
        3.71093750e-02,  9.47265625e-02, -2.00195312e-01, -3.26171875e-01,
       -2.75390625e-01, -2.38281250e-01, -1.22558594e-01, -1.31835938e-01,
        5.68847656e-02, -2.33398438e-01,  1.04370117e-02,  1.86523438e-01,
        2.33398438e-01,  5.46875000e-02, -6.73828125e-02, -4.35546875e-01,
       -2.59765625e-01,  1.79687500e-01,  1.07910156e-01,  4.15039062e-02,
        1.95312500e-02, -2.61718750e-01, -1.46484375e-01,  5.98144531e-02,
        1.27929688e-01, -1.46484375e-01,  4.48608398e-03, -1.48437500e-01,
        1.14257812e-01,  2.33459473e-03,  3.53515625e-01, -2.27539062e-01,
        1.12792969e-01, -4.10156250e-02, -5.31250000e-01, -7.27539062e-02,
        1.37695312e-01, -6.17187500e-01, -1.21582031e-01,  2.94921875e-01,
        3.80859375e-01, -3.88183594e-02,  6.00585938e-02,  2.35351562e-01,
        1.32812500e-01,  2.85644531e-02, -2.63671875e-01, -1.38671875e-01,
        1.61132812e-01, -1.07421875e-01, -1.05468750e-01,  1.17675781e-01,
        3.08593750e-01, -3.66210938e-02,  8.59375000e-02, -1.49414062e-01,
        1.63085938e-01,  1.89971924e-03, -1.30859375e-01, -1.34765625e-01,
       -5.73730469e-02,  7.37304688e-02, -1.10839844e-01, -1.23046875e-01,
        2.69531250e-01, -2.83203125e-01, -8.44726562e-02, -2.42187500e-01,
        1.53320312e-01,  9.88769531e-03,  3.19824219e-02, -2.08007812e-01,
        3.00781250e-01, -1.85546875e-02, -2.71484375e-01,  1.93359375e-01,
       -9.86328125e-02,  1.25000000e-01, -1.64794922e-02,  6.25000000e-02,
        8.48388672e-03, -1.80664062e-01, -2.13867188e-01, -1.66015625e-01,
       -2.77343750e-01,  1.38671875e-01,  5.62500000e-01,  3.75976562e-02,
        2.19726562e-01,  2.13867188e-01, -4.86328125e-01, -9.86328125e-02,
       -3.12500000e-02, -1.98242188e-01,  3.03649902e-03,  4.44335938e-02,
        4.02832031e-02,  3.51562500e-01,  2.50000000e-01,  1.00097656e-01,
        1.93786621e-03,  5.37109375e-02, -2.04101562e-01,  5.09643555e-03,
        2.63671875e-01, -8.88671875e-02, -2.05078125e-01, -1.07421875e-01,
        1.27929688e-01, -9.08203125e-02, -1.06445312e-01,  1.34887695e-02,
        3.12500000e-01, -2.31933594e-02, -1.05468750e-01, -5.05371094e-02,
        1.46484375e-01, -2.62451172e-02,  9.03320312e-02,  3.95507812e-02,
        2.94189453e-02,  1.90429688e-01, -1.02050781e-01,  1.72851562e-01],
      dtype=float32)

In [28]:
vocab = set(w2v_model.key_to_index.keys())

In [29]:
'tiger' in vocab

True

### Creating Average Word2Vec

In [30]:
def get_avg_w2v(sentence):
    current_vect = np.zeros(300)
    cnt_of_words = 0
    for word in sentence.split():
        if word in vocab:
            vector = w2v_model.get_vector(word)
            current_vect += vector
            cnt_of_words += 1
    current_vect /= cnt_of_words
    return current_vect

In [31]:
clean_df['avg_w2v'] = clean_df['clean_all_words'].apply(get_avg_w2v)

In [32]:
corpus = clean_df['clean_all_words'].tolist()
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)

In [33]:
dic = dict(zip(tfidf_vectorizer.get_feature_names(), tfidf_vectorizer.idf_))

In [34]:
def get_tf_idf_w2v(sentence):
    current_vect = np.zeros(300)
    sum_of_weights = 0
    for word in sentence.split():
        try:
            vector = w2v_model.get_vector(word)
            tf_idf = dic[word]
            current_vect += (vector*tf_idf) 
            sum_of_weights += tf_idf
        except:
            continue
    if sum_of_weights > 0:
        return (current_vect/sum_of_weights)
    else:
        return np.zeros(300)

In [35]:
clean_df['tf_idf_w2v'] = clean_df['clean_all_words'].apply(get_tf_idf_w2v)

In [36]:
clean_df.shape

(209038, 5)

In [37]:
clean_df = clean_df.dropna()

In [38]:
def check_array(array):
    return np.any(np.isnan(array))

In [39]:
clean_df['bool_avg'] = clean_df['avg_w2v'].apply(check_array)

In [40]:
clean_df.loc[clean_df.bool_avg, :]

,all_words,new_category,clean_all_words,avg_w2v,tf_idf_w2v,bool_avg
63714,"""ManScraping""",ENTERTAINMENT,manscraping,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
66203,Wafflewich,FOOD,wafflewich,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
76593,The Opinionator,ENTERTAINMENT,opinionator,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
86508,Once.,ENTERTAINMENT,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
90944,,POLITICS,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
96824,WHAAAAAAAT!?,ENTERTAINMENT,whaaaaaaat,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
98808,"No, No, No!",ENTERTAINMENT,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
101055,WHO Are You Now ?,ENTERTAINMENT,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
104914,WHERE'S VLAD?,NEWS,vlad,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
105315,#Anxiety,LIFESTYLE,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
110960,"WTFark, 2014!",ENTERTAINMENT,wtfark 2014,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
113992,Ένας νεκρός σε συγκρούσεις μεταξύ διαδηλωτών κ...,ENVIRONMENT,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
114414,As We Are,LIFESTYLE,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
115562,The 80/20... What?,LIFESTYLE,80 20,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
120484,Karoline Hjorth and Riitta Ikonen on the Image...,TRAVEL AND ARTS,karoline hjorth riitta ikonen imageblog,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
125181,50/50,MISCELLANEOUS,50 50,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
127231,Over,MISCELLANEOUS,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
128827,They're Against It. (They're Against Him.),POLITICS,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
129600,Because I Can,LIFESTYLE,,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True
129862,Attendez,TRAVEL AND ARTS,attendez,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",True

In [41]:
label = LabelEncoder()
clean_df['new_category'] = label.fit_transform(clean_df['new_category'])
clean_df = clean_df.loc[~clean_df.bool_avg,['new_category','avg_w2v','tf_idf_w2v']]

#  Avg w2v Split and Classification

In [42]:
X = clean_df['avg_w2v'].to_list()
y = clean_df['new_category'].to_list()

In [43]:
x_train,x_test, y_train,y_test = train_test_split(X,Y)

NameError: name 'Y' is not defined

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))

In [ ]:
from sklearn.linear_model import SGDClassifier
sgd =  SGDClassifier(loss='hinge', penalty='l2')
sgd.fit(x_train,y_train)
y_pred = sgd.predict(x_test)
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
p = Pipeline([('Normalizing',MinMaxScaler()),('MultinomialNB',MultinomialNB())])
p.fit(x_train,y_train) 
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))

# Tf - Idf W2v

In [ ]:
X = clean_df['tf_idf_w2v'].to_list()
y = clean_df['new_category'].to_list()

In [ ]:
x_train,x_test, y_train,y_test = train_test_split(X,Y)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))

In [ ]:
from sklearn.linear_model import SGDClassifier
sgd =  SGDClassifier(loss='hinge', penalty='l2')
sgd.fit(x_train,y_train)
y_pred = sgd.predict(x_test)
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
p = Pipeline([('Normalizing',MinMaxScaler()),('MultinomialNB',MultinomialNB())])
p.fit(x_train,y_train) 
print('accuracy %s' % accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, digits=5))